.parent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.segment{
    display: grid;
    place-items: center;
    text-align: center;
    grid-template-rows: 100px;
}

.twelve{
    background-color: lightgreen;
    grid-column: 1/ span 12;
}

.four{
    background-color: lightblue;
    grid-column: 4/ span 12;
}
